<div>
  <h1 class="centrar">AdivinApuesta</h1>
</div>

<div class="appCSS">
    <div class="botonesAyD centrar">
      <button class="botones botonActivar" (click)="activar(); onActualizarOro()">Activar</button>
      <!-- <button class="botonesArAbE" (click)="desactivar()">Desactivar</button> -->
      <br>
    </div>
  
    
    <span>Activar cuesta <span style="color: yellow;"> 200 </span> de <span style="color: rgb(221, 221, 85);"> oro </span> y genera un nuevo numero oculto.</span>
    <br>
    <span>Estado: {{ activado }} </span>
  
    <div>
      Oculto: <span *ngIf="this.activado == false"> {{ oculto }} </span>
    </div>
  
    <div>
      <!-- Codigo de flecha arriba -->
      <button class="botones botonesArAbE" (click)="botonArriba()"> &#x25B2; </button>
      <br>
  
      <span class="centrar numAleatorio">{{ aleatorio }}</span>
      <br>
      
      <!-- Codigo de flecha abajo -->
      <button class="botones botonesArAbE centrar" (click)="botonAbajo()"> &#x25BC; </button>
      <br>
  
      <button class="botones botonesArAbE" (click)="elegir(); onActualizarOro()">Elegir</button>
    </div>
  
    <div>
      <span>Oro: {{ oro }}</span>
      <br>
      <span>Deuda: {{ deuda }} </span>
      <br>
      <button class="botones" (click)="pedirPrestamo();  onActualizarOro()">Pedir prestamo (200)</button>
      <button class="botones" (click)="pagarDeuda();  onActualizarOro()" >Pagar deuda</button>
    </div>
    
  </div>