<div class="appCSS">
    <div>
      <h1 class="centrar">AdivinApuesta</h1>
    </div>
  
    <div class="botonesAyD centrar">
      <button class="botonesArAbE" (click)="activar(); onActualizarOro()">Activar</button>
      <button class="botonesArAbE" (click)="desactivar()">Desactivar</button>
      <br>
    </div>
  
    
    <span>Activar cuesta 200 de oro y genera un nuevo numero oculto.</span>
    <br>
    <span>Estado: {{ activado }} </span>
  
    <div>
      Oculto: <span *ngIf="this.activado == false"> {{ oculto }} </span>
    </div>
  
    <div>
      <!-- Codigo de flecha arriba -->
      <button class="botonesArAbE" (click)="botonArriba()"> &#x25B2; </button>
      <br>
  
      <span class="centrar numAleatorio">{{ aleatorio }}</span>
      <br>
      
      <!-- Codigo de flecha abajo -->
      <button class="botonesArAbE centrar" (click)="botonAbajo()"> &#x25BC; </button>
      <br>
  
      <button class="botonesArAbE" (click)="elegir(); onActualizarOro()">Elegir</button>
    </div>
  
    <div>
      <span>Oro: {{ oro }}</span>
      <br>
      <span>Deuda: {{ deuda }} </span>
      <br>
      <button (click)="pedirPrestamo();  onActualizarOro()">Pedir prestamo (200)</button>
      <button (click)="pagarDeuda();  onActualizarOro()" >Pagar deuda</button>
    </div>
    
  </div>